/* color de fondo de la pagina 
body{
	background-color: #3e2525;
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	padding-top: 10em;
	position: relative;
	text-align: center;
}

	h1{
	color: red;
	padding: 1em;
} */

/*boton que llama a la ventana modal*/
#show-modal{
	text-align: center;
	background: #808000;
	padding: 15px 15px;
	color: white;
	font-weight: 100;
	font-size: 1.5em;
	border-radius: 3.5px;
	text-decoration: none;
	transition: all 0.15s liner;
}

/* efecto al pasar el mouse sobre el boton */
#show-modal:hover{
	cursor: pointer;
	background: #9ACD32;
}

/* posicion de la ventana modal */
.modal{
	position: fixed;
	top: -100vh;
	left: 0;
	z-index: 99999999;
	background: rgba(0,0,0,0,0.75);
	width: 100W;
	height: 100vh;
	opacity: 0;
	transition: opacity 0.35s ease;
}

/* recuadro de la ventana modal */
.modal .content-modal{
	width: 100%;
	max-width: 500px;
	position: fixed;
	left: 50%;
	top: -100vh;
	transition: top 0.35 ease;
	margin-left: -250px;
	background: #D8BFD8;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	border-radius: 2px;
	z-index: 99999999;	
}

/* titulo de la ventana */
.modal h2{
	padding: 0.5em;
	text-align: center;
	color: white;
	margin: 0;
}

/* fondo de la ventana */
.modal article{
	height: 300px;
	background: #E6E6FA;
}

/* boton cerrar x */
.close-modal{
	color: #e74c3c;
	position: absolute;
	top: 0.2em;
	right: 0.375em;
	margin: 0;
	padding: 5px;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
}

/* efecto cuando pasa por encima el mouse sobre boton cerrar "x" */
.modal a:hover{
	color: #c0392b;
}


.modal:target{
	opacity: 1;
	top: 0;
}

.modal .btn-close-modal{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999991;
}

/* velocidad de efecto para aparición d ventana */
.modal:target .content-modal{
	top: 80px;
	transition: top 0.35s ease;
}

@media (max-width: 500px){
	.modal .content-modal{
		width: 90%;
		max-width: none;
		left: 5%;
		margin-left: 0;
	}
}